<div class="col-6">
  <div class="card my-3">
  
    <%= link_to list_path(list) do %>
      <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <%= list.name %>
      </div>
    <% end %>

    <%= link_to "🗑", list_path(list), method: :delete %>
  </div>
</div>
