<div class="col-6">
  <div class="card my-3">
  
    <%= link_to list_path(list) do %>
      <%= image_tag "https://source.unsplash.com/200x200/?movie" %>
      <%= list.name %>
    <% end %>

    <%= link_to "🗑", list_path(list), method: :delete %>
  </div>
</div>
