<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?<%=  %>);">
  <div class="container text-center">
    <h1><%=  %></h1>
  </div>
</div>

<%=  %>