<h1>Build a new List</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<div class="form">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>

