<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?<%= @list.name %>);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
    <%# list all bookmarks of movies tagged to this list? %>
  </div>
</div>

