<div class="col-4">
  <div class="card my-3">
    <img src="<%= @movie.imge_url %>" alt="movie poster image">
    <div class="card-body">
      <h4><%= @movie.title %></h4>
      <p><%= @movie.overview %></p>
    </div>
  </div>
</div>