<div class="col-4">
  <%= link_to movie_path(movie) do %>
    <div class="card my-3">
      <img src="<%= movie.poster_url %>" alt="movie poster image">
      <div class="card-body">
        <h4><%= movie.title %></h4>
        <p><%= movie.overview %></p>
      </div>
    </div>
  <% end %>
</div>