<div class="container">
  <h1><%= @movie.title %></h1>
  <img class="img-thumbnail" src="<%= @movie.poster_url %>" alt="movie poster image">
  <p class="text-center"><%= @movie.overview %></p>
</div>

